<nav class="navbar navbar-expand-lg navbar-dark pwl-navbar">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <span class="pwl-brand">Papers We Love</span>
      <span class="pwl-brand-city">Zürich</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/paper-ideas/" | relative_url }}">Paper Ideas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/papers/" | relative_url }}">Past Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.meetup.com/Papers-we-love-Zurich/" target="_blank" rel="noopener">Meetup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
